html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

body {
    background: #FCFBF8;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    padding-top: 1%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 2.5em;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 900;
    color: #2F2C23;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 300px;
    min-height: 300px;
    padding: 25px;
    background: #E8E7E6;
    border-radius: 10px;
    box-shadow: 10px 10px 0 0 rgba(46, 61, 73, 0.20);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
    perspective: 1000px;
}

.deck .card{
    height: 55px;
    width: 55px;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);

    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s ease;
}

.card .back.match {
    background: #21C197;
    font-size: 33px;
    backface-visibility: hidden;
    pointer-events: none;
}

.card .back.wrong {
  cursor: default;
  background: #F4766F;
}


/*
 * Card flipping styles
 */

.front, .back {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .front {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  backface-visibility: hidden;
  position: absolute;
  cursor: pointer;
  background: #FBFBFB;
}

.card .back {
  background-color: #607EEB;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  backface-visibility: hidden;
  position: absolute;
  cursor: default;
  transform: rotateY(180deg);

  font-size: 33px;
}

.deck .card.flip {
  transform: rotateY(180deg);
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    width: 400px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
    justify-content: flex-start;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    cursor: pointer;
}

#restart:hover {
  cursor: pointer;
}

/*
  Modal stylesheet
*/
/* code was found on:https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  width: 50%;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 2vw;
  font-weight: 400;
}

button {
  width: 20%;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
  font-size: 1.5vw;
  margin-bottom: 10%;
  background-color: #607EEB;
  border: none;
  color: white;
}

#tryAgain:hover {
  cursor: pointer;
  color: white;
  background-color: #607EEB;
  font-weight: 500;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 1.5vw;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
}

.score-panel {
  color: #2F2C23;

}

@media screen and (min-width: 700px){
  .deck .card{
    height: 95px;
    width: 95px;
  }

  .deck {
    width: 490px;
    min-height: 490px;
    padding: 30px;
  }

  .score-panel {
    width: 800px;
  }
}
